<!-- BARRA NAVEGACION PRINCIPAL SUPERIOR-->
<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Tweet Wall</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="#">Twitter Gem</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="http://danielagattoni.quiltyweb.com/">Blog Daniela Gattoni</a></li>
        <li><a href="https://github.com/dgattoni/tweetwall">GitHub</a></li>

        <!-- SI EL USUARIO ESTA LOGUEADO ENTONCES QUE MUESTRE SALIR. DE LO CONTRARIO-->
        
      </ul>
      
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- //BARRA NAVEGACION PRINCIPAL SUPERIOR-->